<div class="backdrop" (click)="onClose()"></div>
<div class="trailer-box">
<iframe width="550" height="250"  [src]="createUrl() | safe: 'resourceURL'" frameborder="0"></iframe>
<!-- <iframe width="550" height="250" src="https://www.youtube.com/embed/s4BibernJxU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  <div class="trailer-box-actions"> -->
  <button class="btn btn-primary" (click)="onClose()">Close</button>
</div>

